<mat-card class="usuario-card" appearance="outlined">

    <mat-card-header>

        <div mat-card-avatar>
            <mat-icon>person</mat-icon>
        </div>

        <mat-card-title>
            {{ usuario().name }}
        </mat-card-title>

        <mat-card-subtitle>
            {{ usuario().username }}
        </mat-card-subtitle>

    </mat-card-header>

    <mat-card-content>
        <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h3>Información Personal</h3>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                <strong>ID:</strong>
                {{ usuario().id }}
            </p>

            <p>
                <strong>Email:</strong>
                {{ usuario().email }}
            </p>

            <p>
                <strong>Teléfono:</strong>
                {{ usuario().phone }}
            </p>

            <p>
                <strong>Sitio Web:</strong>
                {{ usuario().website }}
            </p>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h3>Dirección</h3>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                <strong>Calle:</strong>
                {{ usuario().address.street }}
            </p>

            <p>
                <strong>Suite:</strong>
                {{ usuario().address.suite }}
            </p>

            <p>
                <strong>Ciudad:</strong>
                {{ usuario().address.city }}
            </p>

            <p>
                <strong>Código Postal:</strong>
                {{ usuario().address.zipcode }}
            </p>

            <p>
                <strong>Latitud:</strong>
                {{ usuario().address.geo.lat }}
            </p>

            <p>
                <strong>Longitud:</strong>
                {{ usuario().address.geo.lng }}
            </p>
        </mat-expansion-panel>


        <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h3>Empresa</h3>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                <strong>Nombre:</strong>
                {{ usuario().company.name }}
            </p>

            <p>
                <strong>Catch Phrase:</strong>
                {{ usuario().company.catchPhrase }}
            </p>

            <p>
                <strong>Business:</strong>
                {{ usuario().company.bs }}
            </p>
        </mat-expansion-panel>

    </mat-card-content>

    <mat-card-actions align="end">

        <button mat-raised-button (click)="actualizarUsuario() " class="edit">
            <mat-icon>edit</mat-icon>
            Editar
        </button>
        <button mat-raised-button color="warn" class="delete" (click)="eliminarUsuario()">
            <mat-icon>delete</mat-icon>
            Eliminar
        </button>

    </mat-card-actions>

</mat-card>