@if (mostrarFormulario()) {
<app-formulario-usuario [usuarioEditar]="usuarioSeleccionado()" (guardar)="agregarUsuario()"></app-formulario-usuario>

}

<h2>Lista de usuarios</h2>

<div class="barra-acciones">
    <button mat-mini-fab aria-label="Example icon button with a menu icon" (click)="cambiarOrdenAlf()">
        <mat-icon>sort_by_alpha</mat-icon>
    </button>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [value]="vista()"
        (change)="cambiarVista($event.value)">
        <mat-button-toggle value="card"><mat-icon>view_comfy</mat-icon></mat-button-toggle>
        <mat-button-toggle value="table"><mat-icon>list</mat-icon></mat-button-toggle>
    </mat-button-toggle-group>

    <mat-form-field appearance="outline">
        <mat-label>Buscar campo</mat-label>
        <input matInput #campoNombre (input)="busquedaF.set(campoNombre.value)" placeholder="Campo">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Correo</mat-label>
        <input matInput #campoCorreo (input)="busquedaCorreo.set(campoCorreo.value)" placeholder="Correo">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Ciudad</mat-label>
        <input matInput #campoCiudad (input)="busquedaCiudad.set(campoCiudad.value)" placeholder="Ciudad">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Empresa</mat-label>
        <input matInput #campoEmpresa (input)="busquedaEmpresa.set(campoEmpresa.value)" placeholder="Empresa">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Sitio Web</mat-label>
        <input matInput #campoSitio (input)="busquedaSitioW.set(campoSitio.value)" placeholder="Sitio web">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="agregarUsuario()">
        <mat-icon>person_add</mat-icon>
        Nuevo usuario
    </button>
</div>

@if (vista() === 'card') {
<div class="contenedor-tarjetas">
    @for (usuario of filtroUsuarios(); track $index) {
    <app-usuario-card [usuario]="usuario" (editar)="editarUsuario($event)"
        (eliminar)="eliminarUsuario($event)"></app-usuario-card>
    }
    @empty{
    <p>No hay usuarios</p>
    }
</div>
}
@else {
<app-tabla-usuarios [listaUsuarios]="filtroUsuarios()" (editar)="editarUsuario($event)"
    (eliminar)="eliminarUsuario($event)">></app-tabla-usuarios>
}