@if (mostrarFormulario()) {
<app-formulario-usuario [usuarioEditar]="usuarioSeleccionado()" (guardado)="this.cerrarFormulario()"
    (cerrar)="cerrarFormulario()"></app-formulario-usuario>

}

<h2>Lista de usuarios</h2>


@if (servicioUsuario.cargando()) {

<mat-progress-bar mode="indeterminate"></mat-progress-bar>

} @else {

<div class="barra-acciones">
    <button mat-raised-button color="primary" class="Orden_button" (click)="cambiarOrdenAlf()">
        <mat-icon>sort_by_alpha</mat-icon>
        Orden
    </button>

    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="cambioVista" [value]="vista()"
        (change)="cambiarVista($event.value)">
        <mat-button-toggle value="card"><mat-icon>view_comfy</mat-icon></mat-button-toggle>
        <mat-button-toggle value="table"><mat-icon>list</mat-icon></mat-button-toggle>
    </mat-button-toggle-group>

    <div class="vl"></div>

    <mat-form-field appearance="outline">
        <mat-label>Buscar Nombre o username</mat-label>
        <input matInput [value]="busquedaF()" #campoNombre (input)="busquedaF.set(campoNombre.value)"
            placeholder="Nombre">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Correo</mat-label>
        <input matInput [value]="busquedaCorreo()" #campoCorreo (input)="busquedaCorreo.set(campoCorreo.value)"
            placeholder="Correo">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Ciudad</mat-label>
        <input matInput [value]="busquedaCiudad()" #campoCiudad (input)="busquedaCiudad.set(campoCiudad.value)"
            placeholder="Ciudad">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Empresa</mat-label>
        <input matInput [value]="busquedaEmpresa()" #campoEmpresa (input)="busquedaEmpresa.set(campoEmpresa.value)"
            placeholder="Empresa">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Sitio Web</mat-label>
        <input matInput [value]="busquedaSitioW()" #campoSitio (input)="busquedaSitioW.set(campoSitio.value)"
            placeholder="Sitio web">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="limpiarFiltros()" class="btn-limpiar">
        <mat-icon>settings_backup_restore</mat-icon>
        Limpiar filtros
    </button>

    <div class="vl"></div>

    <button mat-raised-button color="primary" (click)="agregarUsuario()" class="btn-nuevo">
        <mat-icon>person_add</mat-icon>
        Nuevo usuario
    </button>
</div>

@if (vista() === 'card') {
<div class="contenedor-tarjetas">
    @for (usuario of usuariosPaginados(); track $index) {
    <app-usuario-card [usuario]="usuario" (editar)="editarUsuario($event)"
        (eliminar)="eliminarUsuario($event)"></app-usuario-card>
    }
    @empty{
    <p>No hay usuarios</p>
    }
</div>
}
@else {
<app-tabla-usuarios [listaUsuarios]="usuariosPaginados()" (editar)="editarUsuario($event)"
    (eliminar)="eliminarUsuario($event)"></app-tabla-usuarios>
}

<div>
    <mat-paginator [length]="filtroUsuarios().length" [pageSize]="pageSize()" [pageSizeOptions]="[5, 10, 15]"
        [pageIndex]="pageIndex()" (page)="onPageChange($event)">
    </mat-paginator>
</div>
}